*pth
/data/
/datasets/
//Datasets/
/raw_data/
/processed_data/
/tmp_data/
.cache/

*.csv
*.tsv
*.parquet
*.feather
*.h5
*.hdf5
*.npz
*.npy
*.pkl
*.pickle
*.ckpt
*.jpg
*.jpeg
*.png
*.bmp
*.gif
*.tif
*.tiff
*.webp
*.svg